<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro de Carros</title>
    <style>

    </style>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Cadastro de Carros</h1>

    <form th:action="@{'/carros/modelos'}" method="POST">
        <input type="hidden" name="_method" value="put" th:if="${carrosDTO!=null}">
        <input type="hidden" name="id" th:value="${carrosDTO?.id}">

        <div>
            <label for="nome">Nome do Carro:</label>
            <input type="text" id="nome" name="nome" th:value="${carrosDTO?.nome}" required>

        </div>

        <div>
            <label for="modelo">Modelo:</label>
            <input type="text" id="modelo" name="modelo" th:value="${carrosDTO?.modelo}" required>
        </div>

        <input type="submit" th:value="${carrosDTO == null ? 'Cadastrar Carro' : 'Atualizar Carro'}">
    </form>

</div>


</body>
</html>
