<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
  <title>Menu Principal</title>
</head>
<body>
<div layout:fragment="conteudo">
  <h1>Menu Principal</h1>
  <br><br><br>
  <a href="/modelos/formulario">Cadastrar Modelo</a>
  <br><br><br>
  <a href="/modelos/lista">Listar Modelos</a>
  <br><br><br>
  <a href="/carros/modelos">Cadastrar Carro</a>
  <br><br><br>
  <a href="/carros/lista">Listar Carros</a>
</div>
</body>
</html>